{{yield}}
<article class="media">
  <div class="media-left media-middle">
    <img src="{{image}}" class="media-object">
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{name}}</h4>
  </div>
</article>
